.client-header {
  width: 100%;
  height: 3.5rem;
  background-color: #fff1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  position: relative;
  transition: background-color 0.5s;
}
.dark .client-header {
  color: white;
  background-color: #070707;
}

.icon {
  fill: black;
}
.dark .icon {
  fill: white;
}

.navigation-menu {
  display: flex;
  gap: 1.75rem;
  align-items: center;
  margin-right: 1.75rem;
}

.search-bar--container {
  position: relative;
}
.search-bar--container .search-bar--wrapper {
  min-height: 2rem;
  width: 24.9375rem;
  background-color: #D9D9D9;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dark .search-bar--container .search-bar--wrapper {
  background-color: #1C252F;
}

.search {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: transparent;
  outline: none;
  color: black;
}
.dark .search {
  color: white;
}

.search-result-list {
  width: 100%;
  height: auto;
  background-color: #D9D9D9;
  color: black;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 50;
}
.dark .search-result-list {
  background-color: #1C252F;
}

.search-result {
  display: flex;
  height: 7.8125rem;
  border-bottom: 1px solid #9D9D9D;
  color: black;
  transition: background-color 0.3s;
}
.search-result:hover {
  background-color: #C0C0C0;
}
.search-result:active {
  background-color: #AFAFAF;
}
.dark .search-result {
  color: white;
  border-bottom: 1px solid #c9c9c9;
}
.dark .search-result:hover {
  background-color: #141c27;
}
.dark .search-result:active {
  background-color: #0f161e;
}

.search-result-content {
  display: flex;
  gap: 1.0625rem;
  padding: 0.875rem 0.8125rem 0;
}

.search-result-image {
  width: 3.941875rem;
  height: 5.9375rem;
  object-fit: cover;
}

.search-result-details {
  width: 17.3125rem;
  display: flex;
  flex-direction: column;
}

.search-result-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-result-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.header-toolbar {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin-left: 1.75rem;
}

.watchlist {
  display: flex;
  gap: 0.4375rem;
}

.light-mode-switch {
  height: 2rem;
  width: 2rem;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.light-mode-switch:hover {
  background-color: #b0b0b0;
}
.light-mode-switch:active {
  background-color: #8a8a8a;
}
.dark .light-mode-switch {
  background-color: #1C252F;
}
.dark .light-mode-switch:hover {
  background-color: #141c27;
}
.dark .light-mode-switch:active {
  background-color: #0f161e;
}

.translation {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}/*# sourceMappingURL=Header.css.map */