header {
   width: 100%;
   height: 3.5rem;
   background-color: #fff1e6;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-family: 'Roboto', sans-serif;
   font-size: 0.875rem;
   position: relative;
   transition: background-color 0.5s;
}

header.dark {
   color: white;
   background-color: #070707;
 }