.genres {
   position: relative;

   .genres-header {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-bottom: 1rem; // mb-4

      .add-genre-button {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.5rem;
         padding: 0.75rem 1rem; // px-4 py-3
         background-color: #CC511D;
         color: white;
         border-radius: 0.375rem; // rounded-md
         transition: background-color 0.2s;

         &:hover {
            background-color: #FF7031;
         }

         span {
            font-size: 0.75rem;
            font-weight: 600; // font-semibold
         }
      }
   }

   .genres-table {
      overflow-x: auto;

      table {
         min-width: 100%;
         table-layout: auto;
         background-color: #111111;
         color: white;
         border-radius: 0.5rem; // rounded-lg

         thead {
            tr {
               display: flex;
               justify-content: space-between;
               border-bottom: 1px solid #444444;
            }

            th {
               padding: 0.5rem 1rem; // px-4 py-2
               text-align: left;
            }
         }

         tbody {
            tr {
               display: flex;
               justify-content: space-between;
               border-bottom: 1px solid #444444;
               transition: background-color 0.2s;

               &:hover {
                  background-color: #222222;
               }

               td {
                  padding: 0.5rem 1rem; // px-4 py-2 or px-4 py-3

                  &:last-child {
                     display: flex;
                     gap: 0.5rem;
                  }
               }

               .delete-button {
                  width: 1.5625rem;
                  height: 1.5625rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #FF3333;
                  border-radius: 50%;
                  transition: background-color 0.2s;

                  &:hover {
                     background-color: #e50000;
                  }
               }
            }
         }
      }
   }

   .genre-modal--container {
      >div {
         margin-bottom: 1rem; // For space between children, equivalent to space-y-4
      }

      .custom-label {
         display: block;
         font-size: 0.875rem; // text-sm
         font-weight: 500; // font-medium
         margin-bottom: 0.5rem; // mb-2
      }

      .custom-select-container {
         width: 100%;
         height: 2.3125rem;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: transparent;
         border: 1px solid white;
         border-radius: 0.125rem; // rounded-sm
      }

      .custom-select-wrapper {
         width: 38.75rem;
      }

      .custom-select {
         width: 100%;
         background-color: transparent;
         color: white;
         border: none;
         outline: none;
         font-size: 0.875rem; // text-[0.875rem]
         cursor: pointer;
      }

      .custom-option {
         color: white;
         background-color: #111111;
      }
   }

   .flex-end {
      display: flex;
      justify-content: flex-end;
      gap: 0.75rem; // space-x-3
      margin-top: 1.5rem; // mt-6

      .custom-button {
         padding: 0.5rem 1rem; // px-4 py-2
         border-radius: 0.375rem; // rounded-md
         color: white;
         transition: background-color 0.2s ease; // transition duration-200

         &:hover {
            background-color: #555555;
         }

         &.save-button {
            background-color: #CC511D;

            &:hover {
               background-color: #FF7031;
            }
         }

         &.cancel-button {
            background-color: #444444;

            &:hover {
               background-color: #555555;
            }
         }
      }
   }
}